.header{
    display: flex;
    position: fixed;
    z-index: 1000;
    height: 45px;
    padding-top: 8px;
    width: 100%;
    top: 0;
    left: 0;
    background: #1d1d1d;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
}
.header-left{
    flex-grow: 3;
    top: 0;
    left: 0;
    display: flex;
}
#logo-image{
    flex-grow: 1;
    margin-left: 10%;
    margin-right: auto;
    vertical-align: middle;
}
#header-text{
    font-size: 1.2em;
    float: left;
    text-align: left;
    flex-grow: 6;
    vertical-align: middle;
    padding: 10px;
}
.header-right{
    display: flex;
    flex-grow: 1 ;
    right: 0;
}
#quick-search{
    width: 250px;
    height: 35px;
    font-size: .85em;
    font-weight: bold;
    color : #919191;
    border: 2px solid #333;
    padding: 4px 30px;
    border-radius: 20px;
    background: #1d1d1d url("../../assets/icon-search.svg") no-repeat 9px 8px;
    margin-top: 2px;
    flex-grow: 1;
}
#quick-search:focus{
    border: 2px solid #333;
}
.nav-meni{
    display: flex;
    position: relative;
    flex-grow: 1;
    list-style: none;
    margin-top: 10px;
    margin-right: 0px;
    vertical-align: middle;
}
.nav-meni li a{
    text-decoration: none;
    color: #919191;
    flex-grow: 1;
    margin: 0px 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}
.nav-meni a:hover{
    color: white;
}
.user-aut{
    flex-grow: 1;
    position: relative;
    display: flex;
    list-style: none;
    margin : 10px 50px 0px 0px;
}
.user-aut a{
    text-decoration: none;
    color: white;
    flex-grow: 1;
    font-weight: bold;
    font-size: 10pt;
}
.user-aut a:hover{
    color: #919191;
}