<div class="header">

    <div class="header-left">
      <div id="logo-image"><a href="https://yts.mx/"><img src="../assets/logo-YTS.svg"></a></div>
      <div id="header-text">HD movies at the smallest file size.</div>
    </div>

    <div class="header-right">
      <div>
        <input id="quick-search" autocomplete="off" type="search" placeholder="Quick search">
      </div>
      <ul class="nav-meni">
        <li><a href="https://yts.mx/">Home</a></li>
        <li><a href="https://yts.mx/browse-movies/0/2160p/all/0/latest/0/all" style="color: #6AC045">4K</a></li>
        <li><a href="https://yts.mx/trending-movies">Trending</a></li>
        <li><a href="https://yts.mx/browse-movies">BrowseMovies</a></li>
      </ul>
      <ul class="user-aut">
        <li><a href="#">Login</a></li>
        &nbsp;|&nbsp;
        <li><a href="#">Register</a></li>
      </ul>
    </div>
</div>