<div class="footer">
    <div class="footer-up">
        YTS © 2011 - 2022 - 
        <a href="https://yts.mx/blog">Blog</a> - 
        <a href="https://yts.mx/dmca">DMCA</a> - 
        <a href="https://yts.mx/api">API</a> - 
        <a href="https://yts.mx/rss-guide">RSS</a> - 
        <a href="https://yts.mx/contact">Contact</a> - 
        <a href="https://yts.mx/browse-movies">BrowseMovies</a> - 
        <a href="https://yts.mx/requests">Requests</a> - 
        <a href="https://yts.mx/login">Login</a>
    </div>
    <div class="footer-down">
      By using this site you agree to and accept our 
        <a href="https://yts.mx/terms">User Agreement</a> 
        , which can be read <a href="https://yts.mx/terms">here</a>.
    </div>
</div>