.search-engine{
    height: 170px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    background: #171717;
    padding: 50px 0;
}
.center-search{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: -5px;
    margin-bottom: 2px;

}
#parag-search{
    font-size: 20px;
    color: #5a5a5a;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#search{
    flex-grow: 10;
    position: relative;
    padding: 10px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    color: #919191;
    box-sizing: border-box;
    height: 40px;
    background: #282828;
    display: inline-block;
}
#button-search{
    position: relative;
    text-decoration: none;
    color: #fff;
    background-color: #5cb85c;
    border: #5cb85c;
    border-radius: 3px;
    font-weight: bold;
    font-size: medium;
    margin-left: 15px;
    height: 40px;
    width: 150px;
    flex-grow: 1;
}
#button-search:hover{
    cursor: pointer;
}
.search {
    display: flex;
}
.filter{
    display: flex;
    width: 95%;
    left: 0;
    top: 0;
   
}
.filter p{
    color: #5a5a5a;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: -10px;

}
.filter select{
    position: relative;
    width: 130px;
    height: 40px;
    color: #a2a2a2;
    border-radius: 3px;
    border: none;
    background: url(../../assets/select-arrows.svg) no-repeat 115px 12px #282828;
    border: 0;
    margin-top: -10px;
}
#quality{
    flex-grow: 1;
}
#genre{
    flex-grow: 1;
}
#rating{
    flex-grow: 1;
}
#year{
    flex-grow: 1;
}
#language{
    flex-grow: 1;
}
#orderby{
    flex-grow: 1;
}
.movies-baners{
    height: 1400px;
    width: 100%;
    position: absolute;
    padding: 30px 0;
    left: 0;
    right: 0;
    top: 323px;
    background-color: #1d1d1d;
}
.movies-baners-center{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 20px 150px;
    padding: 15px 5px;
}

#heading2{
    flex-grow: 0;
    text-align: center;
    color: #5cb85c;
    font-family: Arial, Helvetica, sans-serif;

}
.column{
    margin: 30px 25px ;
    flex: 1 0 13%;
}

.slika{
    width: 170px;
    height: 255px ;
    border: 5px solid #fff;
    border-radius: 4px;
}
.slika img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.slika:hover{
    cursor: pointer;
    border-color:#5cb85c ;
}

.column a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: .95em;
    font-family: Arial, Helvetica, sans-serif;    
}
.column p{
    font-size: .85em;
    color: #919191;
    position: absolute;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    position: absolute;
    margin-top: 5px;
}
.title a:hover{
    color: #919191;
}
.date p{
    position: absolute;
    margin-top: 20px;
}
