<div class="movie-detail">
    <div class="detailsCenter">
        <div class="left">
            <img [src]="movie.Poster" alt="poster">
            <button id="buttonDownload">Download</button>
            <button id="buttonWatchNow">Watch Now</button>
            
        </div>
        <div class="center">
            <h1>{{movie.Title}}</h1>
            <p>Year: {{movie.Year}}</p>
            <p>Genre: {{movie.Genre}}</p>
            <p>Actors: {{movie.Actors}}</p>
            <p>Runtime: {{movie.Runtime}}</p>
            <p>Director/s: {{movie.Director}}</p>
            <p>Plot: {{movie.Plot}}</p>

        </div> 
        <div class="right">
            <div>Desna kolona</div>

        </div>
    </div>
</div>