.header{
    display: flex;
    position: fixed;
    z-index: 1000;
    height: 45px;
    padding-top: 8px;
    width: 100%;
    top: 0;
    left: 0;
    background: #1d1d1d;
    color: #919191;
    border-bottom: 1px solid #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
}
.header-left{
    flex-grow: 3;
    top: 0;
    left: 0;
    display: flex;
}
#logo-image{
    flex-grow: 1;
    margin-left: 10%;
    margin-right: auto;
    vertical-align: middle;
}
#header-text{
    font-size: 1.2em;
    float: left;
    text-align: left;
    flex-grow: 6;
    vertical-align: middle;
    padding: 10px;
}
.header-right{
    display: flex;
    flex-grow: 1 ;
    right: 0;
}
#quick-search{
    width: 250px;
    height: 35px;
    font-size: .85em;
    font-weight: bold;
    color : #919191;
    border: 2px solid #333;
    padding: 4px 30px;
    border-radius: 20px;
    background: #1d1d1d url("../assets/icon-search.svg") no-repeat 9px 8px;
    margin-top: 2px;
    flex-grow: 1;
}
#quick-search:focus{
    border: 2px solid #333;
}
.nav-meni{
    display: flex;
    position: relative;
    flex-grow: 1;
    list-style: none;
    margin-top: 10px;
    margin-right: 0px;
    vertical-align: middle;
}
.nav-meni a{
    text-decoration: none;
    color: #919191;
    flex-grow: 1;
    margin: 0px 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
}
.nav-meni a:hover{
    color: white;
}
.user-aut{
    flex-grow: 1;
    position: relative;
    display: flex;
    list-style: none;
    margin : 10px 50px 0px 0px;
}
.user-aut a{
    text-decoration: none;
    color: white;
    flex-grow: 1;
    font-weight: bold;
    font-size: 10pt;
}
.user-aut a:hover{
    color: #919191;
}
.search-engine{
    height: 170px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    background: #171717;
    padding: 50px 5px;
}
.center-search{
    margin-left: 180px;
    margin-right: 180px;
    margin-top: -5px;
    margin-bottom: 2px;

}
#parag-search{
    font-size: 20px;
    color: #5a5a5a;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#search{
    flex-grow: 10;
    position: relative;
    padding: 10px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    color: #919191;
    box-sizing: border-box;
    height: 40px;
    background: #282828;
    display: inline-block;
}
#button-search{
    position: relative;
    text-decoration: none;
    color: #fff;
    background-color: #5cb85c;
    border: #5cb85c;
    border-radius: 3px;
    font-weight: bold;
    font-size: medium;
    margin-left: 15px;
    height: 40px;
    width: 150px;
    flex-grow: 1;
}
#button-search:hover{
    cursor: pointer;
}
.search {
    display: flex;
}
.filter{
    display: flex;
    width: 95%;
    left: 0;
    top: 0;
   
}
.filter p{
    color: #5a5a5a;
    padding: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: -10px;

}
.filter select{
    position: relative;
    width: 130px;
    height: 40px;
    color: #a2a2a2;
    border-radius: 3px;
    border: none;
    background: url(../assets/select-arrows.svg) no-repeat 115px 12px #282828;
    border: 0;
    margin-top: -10px;
}
#quality{
    flex-grow: 1;
}
#genre{
    flex-grow: 1;
}
#rating{
    flex-grow: 1;
}
#year{
    flex-grow: 1;
}
#language{
    flex-grow: 1;
}
#orderby{
    flex-grow: 1;
}
.movies-baners{
    height: 1500px;
    width: 100%;
    position: absolute;
    padding: 30px;
    left: 0;
    right: 0;
    top: 323px;
    background-color: #1d1d1d;
    padding: 5px;
}
.movies-baners-center{
    margin: 20px 160px;
    padding: 15px 0;
}
#heading2{
    text-align: center;
    color: #5cb85c;
    font-family: Arial, Helvetica, sans-serif;

}
.column{
    /* display: inline-block; */
    /* width: 170px;
    height: 255px ; */
    margin: 27px 25px ;
    
}
/*.column:hover {
    cursor: pointer;
    border-color:#5cb85c ;
}*/
.slika{
    width: 170px;
    height: 255px ;
    border: 5px solid #fff;
    border-radius: 4px;
}
.slika img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    object-fit: cover;
}
.slika:hover{
    cursor: pointer;
    border-color:#5cb85c ;
}

.column a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: .95em;
    font-family: Arial, Helvetica, sans-serif;    
}
.column p{
    font-size: .85em;
    color: #919191;
    position: absolute;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
    position: absolute;
    margin-top: 5px;
}
.title a:hover{
    color: #919191;
}
.date p{
    position: absolute;
    margin-top: 20px;
}

/* .footer{
    height: 80px;
    width: 100%;
    background: #171717;
    position: absolute;
    left: 0;
    right: 0;
    top: 1827px;
    border-top: 1px solid #2f2f2f;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: .85em;
}
.footer a{
    text-decoration: none;
    color:#919191; 
}
.footer a:hover{
    color: white;
}
.footer-up{
    font-weight: bold;
}
.footer-down{
    font-weight: normal;
} */