.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 12px;
    border-radius: 5px;
    /* background-color: #242424; */
    /* border: 1px solid red; */

}
.item{
   display: flex;
   flex-wrap: nowrap;
   margin: 4px; 
   padding: 12px 16px;
   border-radius: 5px;
   color: #ededed;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
   border: 1px solid blue; 
   background-color: #363636;
   text-decoration: none;
   border: 1px solid #303030; 
}

.item:hover{
    border-color: #ededed;
    background-color: #5cb85c;
}
.item.active{
    background-color: #5cb85c;
    color: white;
    border-color: #ededed;
    font-weight: 600;
    cursor: pointer;
}